@charset "utf-8";
/*@import url(../fonts/Myriad Pro Semibold/stylesheet.css);*/

@import url(../fonts/droidsans/stylesheet.css);

/* CSS Document */
/* -----------------------------------------* Filename: style.css----------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    border: 0;
    outline: none;
    padding: 0;
}
/*font-family: 'Droid Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
* {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
    color: #30373b;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'droid_sansregular';*/
    /*background: url(../images/bg.jpg) 0 0 repeat-x;*/

    overflow-x: hidden;
}


a, a:hover, a:focus, .btn, .btn:focus, .btn:hover {
    outline: none;
}
h1, h1.welcome-line {
    font-size: 45px;
    text-transform: uppercase;
}
h1.welcome-line span {
    font-size: 20px;
    text-transform: none;
}
h2 {
    font-size: 40px;
}
h2:after {
    content: '';
    border-bottom: #ea0b44 3px solid;
    width: 60px;
    margin: 15px auto 20px;
    display: block;
}
h3 {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
}
h4 {
    font-size: 20px;
    font-weight: 700;
}
.font-light {
    color: #949494;
    font-size: 15px;
    font-weight: normal;
}
.font20 {
    font-size: 20px;
}
.btn-primary {
    padding: 15px 30px;
    background: #ea0b44;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #F75E85
}
.mrg-bt-5 {
    margin-bottom: 5px;
}
.mrg-tp-0 {
    margin-top: 0px !important;
}
.mrg-tp-5 {
    margin-top: 5px !important;
}
.mrg-tp-10 {
    margin-top: 10px;
}
.mrg-tp-20 {
    margin-top: 20px;
}
.mrg-tp-30 {
    margin-top: 30px;
}
.mrg-bt-5 {
    margin-bottom: 5px !important;
}
.mrg-bt-10 {
    margin-bottom: 10px;
}
.mrg-bt-20 {
    margin-bottom: 20px;
}
.mrg-bt-30 {
    margin-bottom: 30px;
}
.mrg-lt-15 {
    margin-left: 15px;
}
.mrg-lt-20 {
    margin-left: 20px;
}
.mrg-lt-30 {
    margin-left: 30px;
}
.text-danger {
    color: #ea0b44;
}
.fa-lock.text-danger {
    font-size: 20px;
    color: #ea0b44;
}
.text-white {
    color: #fff;
}
.text-dark {
    color: #30373b;
}
section, .padd-sm {
    padding: 30px 0;
}
.padd-xs {
    padding: 15px 0;
}
.padd-20 {
    padding: 20px;
}
.padd-10 {
    padding: 10px;
}
.padd-hr-10 {
    padding-right: 0;
    padding-left: 0;
}
.padd-left-0 {
    padding-left: 0;
}
.bg-white {
    background: #fff;
    border: #e2e2e2 1px solid;
}
.p-0 {
    padding: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
/*--------Header------------------------------------------------ */
header {
    position: relative;
    height: 100%;
    z-index: 999;
}
.video {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 632px;
    z-index: 9;
}
video {
    width: 100%;
}
.drop-effect {
    background: rgba(0, 0, 0, 0.14);
    position: absolute;
    width: 100%;
    height: 100%;
}
.play {
    margin-top: 30px;
    position: relative;
}
.play:active {
    top: 2px;
}
.over-header2 {
    position: absolute;
    top: -23px;
    left: 0;
    right: 0;
    padding-top: 25px;
    height: 100%;
}
.over-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
}
.welcome-text {
    position: absolute;
    top: 30%;
}
.search-filter .dropdown-menu {
    top: 61%;
    left: 14px;
}
.search-filter div.cs-select {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.header-inner .help {
    margin-top: 35px;
}
header.smaller .header-inner .help {
    margin-top: 10px;
}
.header {
    position: absolute;
    top: -620px;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.header-inner {
    position: static;
    padding-top: 0px;
    background: #fff;
    z-index: 99999;
    height: 84px;
}
header[role=header] {
    /*position: static;*/
}
header[role=header] .over-header {
    padding: 0;
}
/*header.smaller .header {
	background: rgba(255, 255, 255, 0.94);
	z-index: 999;
	box-shadow: #DEDEDE 0px 0px 8px;
}
header.smaller .header .menu li a {
	color: #c93438;
}
header.smaller .header .menu li:last-child {
	border-color: #c93438
}
*/
.header .logo .img2 {
    display: none;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
header.smaller .header .logo .img1 {
    display: none;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
header.smaller .header .logo .img2 {
    display: block;
    height: auto;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
header.smaller .header-inner {
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    padding-top: 10px;
}
.header .menu li {
    font-size: 14px;
    margin-top: 20px;
}
.header .menu li:last-child {
    border: #fff 2px solid;
    padding: 10px 20px;
    margin-left: 10px;
}
.header .menu li a {
    color: #fff;
    text-transform: uppercase;
}
.welcome-content {
    position: absolute;
    top: -351px;
    left: 0;
    right: 0;
    color: #ffffff;
    text-align: center;
}
.search-filter {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.63);
    height: 100px;
}
.filter {
    position: relative;
    margin-top: 19px;
}
.filter .btn {
    margin: 0;
}
.featured-member {
    padding: 30px 0;
    background: #fff;
    position: relative;
    z-index: 99;
}
main {
    background: #f7f8f8;
    margin-top: 84px;
    /*font-family: 'Open Sans', sans-serif;
    */
    border-top: #ccc 1px solid;
}
.white-section {
    display: block;
    background: #ffffff;
    padding: 20px;
    font-size: 15px;
    border: #e2e2e2 1px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}
.white-section h3 {
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.white-section.mrg-tp-20 {
    margin-left: 15px;
}
.white-section h3 .link_small {
    font-weight: normal;
    margin-left: 30px;
    font-size: 15px;
}
.border-sharp {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
/*--------Primary Nav------------------------------------------------ */
.primary-menu {
    float: right;
    padding-top: 18px;
}
.primary-menu:before, primary-menu:after {
    clear: both;
    content: '';
    display: block;
}
.primary-nav .navbar-default .navbar-nav>li>a {
    color: #222222;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.primary-menu .navbar-default .navbar-nav>li>a:focus, .primary-menu .navbar-default .navbar-nav>li>a:hover {
    background: none;
    border-bottom: #ea0b44 2px solid;
}
.primary-menu .navbar-default .navbar-nav>li>a {
    color: #777;
    padding: 17px 20px 26px 20px;
    height: 65px;
}
.primary-menu .badge {
    position: relative;
    top: -12px;
    background: #ee1845;
    font-size: 10px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 5px 0px;
}
.primary-menu .navbar-default .navbar-nav>li.dropdown.last a {
    padding-top: 13px;
}
.primary-menu .navbar-default .navbar-nav>li.dropdown img {
    margin-right: 3px;
}
.primary-menu .dropdown-menu>li>a {
    font-size: 13px;
}
.primary-menu .dropdown-menu {
    top: 90%;
    background-color: #fdfcfc;
}
.primary-menu ul.dropdown-menu:before, .primary-menu ul.dropdown-menu:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    border-bottom: 5px solid black;
    left: 50%;
    top: -5px;
}
.primary-menu ul.dropdown-menu:after {
    border-bottom-color: #fdfcfc;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: none;
}
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.primary-menu .navbar-default .navbar-nav > li.last > a {
    padding-right: 0;
}
/*--------Featured Members------------------------------------------------ */
.featured-member figcaption {
    background: url(../images/caption-bg.jpg) 100% 0 no-repeat;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    border-right: #d3d3d3 1px solid;
    border-bottom: #d3d3d3 1px solid;
    border-left: #d3d3d3 1px solid;
    margin-bottom: 20px;
}
.featured-member .caption h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.featured-member .caption .details {
    font-size: 16px;
    font-weight: 600;
}
.featured-member a {
    color: #C93438;
}
.thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
    margin: 0 0 0px 0;
    border: #d3d3d3 1px solid;
}
.thumbnail img {
    width: 100%;
}
.caption {
    position: absolute;
    bottom: -100%;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    color: #30373b;
    text-align: left;
}
.thumbnail:hover .caption {
    bottom: 0%;
}
small {
    display: block;
    font-size: 16px;
    color: #ea0b44;
    font-weight: 600;
}
.inter {
    font-size: 11px;
    color: #949494;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.inter .fa {
    font-size: 14px;
    margin-right: 3px;
}
.inter .age {
    color: #949494;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
}
/*--------What Sets us Apart------------------------------------------------ */
.promo {
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    border: #fff 1px solid;
}
.promo:hover {
    border: #eaeaea 1px solid;
    cursor: pointer;
}
.promo h3 {
    margin: 10px 0;
}
.promo figcaption {
    color: #5f5f5f;
    font-size: 17px;
    line-height: 25px;
}
.placeholder-text {
    font-size: 12px;
    position: absolute;
    top: 16%;
    z-index: 999;
    margin-left: 1.4em;
}
.tagline {
    font-size: 20px;
    color: #5f5f5f;
    margin-bottom: 30px;
}
/*--------Success Stories------------------------------------------------ */
.block {
    position: relative;
    margin-bottom: 30px;
}
.block img {
    width: 100%;
}
.block .black-strap {
    display: block;
    height: 60px;
    background: rgba(0, 0, 0, 0.51);
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    width: 100%;
    margin-top: -60px;
    z-index: 99;
    position: relative;
}
.block .inter {
    color: #fff;
    margin-right: 20px;
}
summary {
    font-size: 22px;
    text-align: center;
    line-height: 31px;
    width: 70%;
    margin: 0px auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}
/*--------Footer------------------------------------------------ */
.mega-footer {
    background: #ea0b44 url(../images/footer_bg.jpg) 100% 0 repeat-y;
    color: #fff;
    height: 211px;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
}
.mega-footer h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.mega-footer h5 span {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
    display: inline-block;
}
.mega-footer a {
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}
.social-icons a .fa {
    font-size: 30px;
}
.social-icons.list-inline > li {
    border-left: 0px solid #ccc;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}
.social-icons.list-inline > li:first-child {
    padding-left: 0px;
}
footer .legal {
    font-size: 11px;
    color: #bbbbbb;
    padding: 10px 0;
    text-align: center;
}
.static {
    position: static !important;
}
/*--------Form------------------------------------------------ */
form {
    color: #9d9d9d;
}
form .form-cont {
    position: relative;
    margin-bottom: 15px;
}
.form-cont label {
    display: inline-block;
    position: absolute;
    top: 6px;
    font-size: 12px;
    font-weight: 300;
    color: #222222;
    left: 0px;
    height: 60px;
}
.form-cont .radio label, .form-cont .checkbox label {
    top: 0;
    height: 0;
}
.form-cont .textfield, .form-cont .custom-select {
    display: inline-block;
    height: 60px;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    width: 100%;
    border: #c4c4c4 1px solid;
    border-radius: 0;
    box-shadow: inset 0px 0px 2px #ccc;
}
.form-cont .textfield:focus, .form-cont .textfield:active, .form-cont .custom-select:focus, .form-cont .custom-select:active, div.cs-active, .form-cont .cs-select .cs-options {
    border: #04baff 1px solid !important;
    outline: none;
    box-shadow: inset 0px 0px 2px #04baff;
}
.padd {
    padding: 20px 15px 10px 15px !important;
}
.form-cont div.cs-skin-border {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: #c4c4c4 1px solid;
    padding: 1px;
    -moz-box-shadow: 0 0 5px #dad9d9 inset;
    -webkit-box-shadow: 0 0 5px #dad9d9 inset;
    box-shadow: 0 0 5px #dad9d9 inset;
    width: 100%;
}
.form-cont .cs-select .cs-options {
    border-right: #cccccc 1px solid;
    border-left: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    top: 100%;
    left: 0;
    width: 100%;
}
/*--------Checkbox, Radio custom---------*/
.radio label, .checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 16px;
    left: 0;
}
input[type=radio], input[type=checkbox] {
    display: none;
}
.radio label:before, .checkbox label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -2px;
    background-color: #fff;
    box-shadow: none;
    border: #a3a3a3 1px solid;
}
.radio label:before {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.checkbox label {
    margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 0px;
    top: 2px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 15px;
    background-color: #a3a3a3;
    margin-left: 0;
    font-family: Verdana, Geneva, sans-serif;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 17px;
    background-color: #a3a3a3;
}
.checkbox, .radio {
    margin-bottom: 15px;
}
.error {
    background: url(../images/error.png) 0 0 no-repeat;
    color: #ae1414;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px 3px 25px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}
.bar-devider {
    margin-top: 100px;
    top: 10px;
    position: relative;
    margin-bottom: 35px;
}
.bar-devider span {
    border: #cccccc 1px solid;
    height: 30px;
    width: 35px;
    margin: 0 auto;
    clear: both;
    border-radius: 50%;
    padding-top: 5px;
    text-align: center;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    display: inherit;
    position: relative;
    background: #fff;
    z-index: 99;
    font-size: 11px;
    font-weight: 700;
    color: #aaaaaa;
}
.bar-devider:before, .bar-devider:after {
    content: '';
    display: block;
    content: '';
    display: block;
    border-bottom: #ccc 1px solid;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    top: 50%;
}
/*--------Modal------------------------------------------------ */
.modal-backdrop.in {
    filter: alpha(opacity=100);
    opacity: 1;
    background: url(../images/overlay-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.modal-content {
    border-radius: 2px;
    color: #585757;
}
.modal-header {
    padding-bottom: 0;
    border-bottom: none;
}
.modal-header .close {
    margin-right: 10px;
}
.modal-header h2 {
    font-size: 24px;
    padding-top: 20px;
    font-weight: normal;
}
.modal-header h2:after {
    content: '';
    border-bottom: #ea0b44 3px solid;
    width: 180px;
    margin: 15px auto 20px;
    display: block;
}
.modal-body small {
    font-size: 12px;
    font-weight: normal;
    color: #585757;
    margin: 10px 0;
}
.modal-footer {
    padding: 15px;
    text-align: left;
    border-top: none;
    color: #9d9d9d;
}
.modal-footer .btn-primary {
    width: 100%;
}
.login .bar-devider {
    margin-top: 85px;
    top: 10px;
    position: relative;
    margin-bottom: 20px;
}
.login .btn-facebook {
    margin-bottom: 20px;
}
.login h2:after {
    margin: 15px auto 5px;
}
.login .modal-header {
    padding: 10px 0 0 0;
}
.login .modal-header h2 {
    padding-top: 10px;
}
.login {
    top: -20px;
}
.login .error {
    margin-bottom: 10px;
}
.login .checkbox label {
    margin-bottom: 0;
    margin-top: 10px;
}
/*--------Social Buttons (Facebook, Google+)------------------------------------------------ */
.btn-social {
    position: relative;
    padding-left: 60px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    padding-top: 14px;
}
.btn-social:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45px;
    line-height: 52px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}
.btn-social.btn-lg {
    padding-left: 61px
}
.btn-social.btn-lg:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}
.btn-social.btn-sm {
    padding-left: 38px
}
.btn-social.btn-sm:first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em
}
.btn-social.btn-xs {
    padding-left: 30px
}
.btn-social.btn-xs:first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em
}
.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding-left: 0;
    padding-right: 0
}
.btn-social-icon:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}
.btn-social-icon.btn-lg {
    padding-left: 61px
}
.btn-social-icon.btn-lg:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}
.btn-social-icon.btn-sm {
    padding-left: 38px
}
.btn-social-icon.btn-sm:first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em
}
.btn-social-icon.btn-xs {
    padding-left: 30px
}
.btn-social-icon.btn-xs:first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em
}
.btn-social-icon:first-child {
    border: none;
    text-align: center;
    width: 100% !important
}
.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0
}
.btn-social-icon.btn-sm {
    height: 30px;
    width: 30px;
    padding-left: 0;
    padding-right: 0
}
.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 35px;
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    background-image: none
}
.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0, 0, 0, 0.2)
}
.btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    background-image: none
}
.btn-google-plus.disabled, .btn-google-plus[disabled], fieldset[disabled] .btn-google-plus, .btn-google-plus.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}
.int-ico .checkbox label:before {
    content: "";
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -1px;
    box-shadow: none;
    border: #a3a3a3 1px solid;
    background: none;
}
.int-ico label:before {
    content: "\f08a";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    box-shadow: none;
}
.int-ico input[type=checkbox]:checked + label:before {
    content: "\f004";
    font: normal normal normal 14px/1 FontAwesome;
    color: #ea0b44;
    text-align: center;
    background: none;
    text-shadow: none;
}
.privacy {
    font-size: 11px;
    color: #949494;
    display: inline-block;
    margin-top: 10px;
}
.privacy .fa {
    font-size: 14px;
    margin-right: 3px;
}
.priv .checkbox label:before {
    content: "";
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -1px;
    box-shadow: none;
    border: #a3a3a3 1px solid;
    background: none;
}
.priv-ico label:before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    box-shadow: none;
}
.priv-ico input[type=checkbox]:checked + label:before {
    content: "\2713";
    font: normal normal normal 14px/1 FontAwesome;
    color: #ea0b44;
    text-align: center;
    background: none;
    text-shadow: none;
}
.input {
    z-index: 1;
    display: inline-block;
}
.input__field {
    position: relative;
    display: block;
    border: none;
    border-radius: 0;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}
.input__field:focus {
    border: #04baff 1px solid !important;
    outline: none;
    box-shadow: inset 0px 0px 2px #04baff;
}
.input__label {
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 18px 0;
    width: 100%;
    font-size: 20px;
}
/* Individual styles */
/* Akira */
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: -5px 0 0 0em;
    width: calc(100% - 2em);
    vertical-align: top;
}
.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    font-weight: 300;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}
.input__field:focus {
    outline: none;
}
.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 1.2em 0;
    width: 100%;
    font-size: 16px;
    color: #A69D9D;
}
.input--akira {
    width: 100%;
    height: 60px;
}
.input__field--akira {
    top: 6px;
    left: 0;
    z-index: 10;
    display: block;
    padding: 15px 0 0 12px;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 17px;
    font-weight: 300;
    border-radius: 2px;
    box-shadow: 0 0 5px #dad9d9 inset;
    border: 1px solid #c4c4c4
}
.input__label--akira {
    width: 100%;
    background: #ccc;
    cursor: text;
}
.input__label--akira::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    box-shadow: inset 0px 0px 2px #ccc;
}
.input__label-content--akira {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__field--akira:focus + .input__label--akira::before, .input--filled .input__label--akira::before {
    border: #EEEEEE 1px solid;
}
.input__field--akira:focus + .input__label--akira, .input--filled .input__label--akira {
    cursor: default;
}
.input__field--akira:focus + .input__label--akira .input__label-content--akira, .input--filled .input__label-content--akira {
    -webkit-transform: translate3d(0, -1.5em, 0);
    transform: translate3d(0, -0.5em, 0);
    font-size: 12px;
    top: 0px;
    height: 60px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input--akira:focus {
    border: #000000 1px solid;
}
.input--akira {
    width: 100%;
}
.sub-title {
    margin-left: 20px;
    font-size: 12px;
    display: inline-block;
}
.link_small {
    font-size: 12px;
}
.phone-privacy {
    position: relative;
}
.phone-privacy .dropdown-menu>li>a {
    display: block;
    padding: 7px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    line-height: 18px;
}
.phone-privacy ul.dropdown-menu {
    left: 10%;
}
.privacy-promo {
    border-top: #f3f1f1 1px solid;
    margin-top: 30px;
}
.privacy-promo .promo, .privacy-promo .promo:hover {
    border: none;
}
.privacy-promo .promo h3 {
    border-bottom: none;
}
.bord .choose-photo img.img-responsive {
    margin-top: 20px;
    display: block;
}
.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
}
.photo {
    position: relative;
}
.image .add-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: #fff;
    font-size: 24px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.image .placeholder {
    width: 200px;
    position: relative;
}
.image .placeholder:hover .add-photo {
    display: block;
}
.image .btn-file {
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    top: 45%;
}
.image .btn-file input[type=file] {
    position: static;
    top: -10px;
    right: 0;
    min-width: 74px;
    margin-top: -75px;
    width: 90%;
    height: 116px;
    font-size: 100px;
    text-align: left;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: inline;
    cursor: pointer;
}
.image input[readonly] {
    background-color: white !important;
    cursor: text !important;
    cursor: pointer;
}
.image {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.two-column .bar-devider {
    margin-top: 15px;
    margin-bottom: 35px;
}
.two-column .btn-facebook {
    color: #fff;
}
.upload {
    margin-top: 10px;
}
.upload .btn-file {
    position: relative;
    overflow: hidden;
}
.upload .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.upload input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.photo-gallery [class^="col-"] {
    margin-top: 15px;
}
.photo-gallery .img-responsive {
    opacity: 0.5;
}
.photo-gallery .img-responsive:hover, .photo-gallery .selected {
    border: 1px solid #ea0b44;
    display: block;
    opacity: 1;
}
#my_custom_button {
    width: 93px;
    height: 28px;
    border: none;
    padding: 0 4px 8px 0;
    font-weight: bold
}
#file_browse_wrapper {
    width: 100%;
    height: 50px;
    background: #ea0b44;
    border: none;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding-top: 15px;
    cursor: pointer;
}
#file_browse {
    position: relative;
    top: -22px;
    opacity: 0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    height: 60px;
    cursor: pointer;
}
.divider {
    border: #f3f1f1 1px solid;
    margin: 10px 0;
}
.dark {
    border-color: #e2e1e1;
}
.divider.no-mrg {
    margin: 0;
}
.privacy-promo .promo h4 {
    margin: 15px 0;
}
.mrg-left-mins {
    margin-left: -10px;
}
.faces-pic img {
    border: #ccc 1px solid;
    margin: 0 auto;
    width: 90%;
}
.faces-pic .title {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
.faces-pic .title.right:before {
    content: "\2713";
    color: #69b717;
    margin-right: 5px;
    font-weight: 700;
}
.faces-pic .title.wrong:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
    color: #b61212;
    margin-right: 5px;
    font-weight: 700;
}
.bord:after {
    border-right: #f3f1f1 1px solid;
    content: '';
    position: absolute;
    left: 108%;
    height: 100%;
    right: -9%;
    top: 0;
    width: 10px;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.sidebar-nav .navbar-default .navbar-nav>.active>a, .sidebar-nav .navbar-default .navbar-nav>.active>a:focus, .sidebar-nav .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ea0f44;
    font-size: 16px;
    color: #fff;
}
.sidebar-nav .navbar li a:before {
    content: "\2713";
    color: #dfe1e1;
    font-weight: 700;
    margin-right: 10px;
}
.right-column {
    padding: 30px 15px 0 15px;
    background: #f7f8f8;
}
.bg-dark {
    background: #f0f1f1;
}
.welcome-note, .font-15 {
    font-size: 15px;
}
.mandatory {
    display: inline-block;
    width: 30px;
    padding-top: 0;
    position: relative;
    top: 27px;
    left: 10px;
}
form .cs-select > span, form .input__label-content {
    color: #949494;
}
.input-block-lg {
    display: inline-block;
    max-width: 430px;
    width: 90%;
}
aside {
    background: #fcfafa;
    padding: 15px;
    border: #dddddd 1px solid;
    border-radius: 5px;
    margin: 20px 25px 0 15px;
}
aside ul li {
    margin-bottom: 15px;
}
aside ul li:before, aside ul li:after {
    clear: both;
    content: '';
    display: block;
}
.no {
    width: 35px;
    height: 35px;
    float: left;
    border: #a7a8a8 1px solid;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    margin-top: 5px;
    line-height: 25px;
}
.list-cont {
    float: left;
    width: 80%;
    margin-left: 10px;
}
.list-cont strong {
    font-size: 15px;
}
.small-col {
    display: block;
    width: 30px;
    float: left;
}
.mid-col {
    display: block;
    max-width: 465px;
    width: 100%;
    float: left;
}
.tooltip-inner {
    font-size: 13px;
    color: #949494;
    text-align: left;
    background-color: #fff;
    border: #eb7491 1px solid;
    box-shadow: #ccc 0px 0px 4px;
    padding: 10px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #eb7491;
}
.required {
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    left: 10px;
}
.text-danger {
    font-size: 21px;
    color: #980606;
}
.tp {
    width: auto;
    margin-left: 10px;
    padding-top: 20px;
}
.box {
    margin: 10px 0;
}
.box:before, .box:after {
    content: '';
    clear: both;
    display: block;
}
.sidebar-nav {
    margin-top: 50px;
}
/*.smaller.sidebar-nav{
	top:-10px;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
*/
.aside-header h3 {
    border-bottom: none;
    font-weight: normal;
    margin-top: 10px;
}
.aside-header img {
    margin-top: 10px;
}
.aside-header:after {
    border-bottom: #ababab 1px solid;
    width: 80%;
    margin: 20px auto;
    content: '';
    display: block;
}
.aside-footer {
    text-align: center;
}
.navbar-default {
    border: none;
    background: none;
}
dd, dt {
    display: inline-block;
}
dt {
    width: 90px;
    font-weight: 400;
}
.checkbox dt, .radio dt {
    font-size: 16px;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}
.navbar-toggle .icon-bar {
    height: 4px;
}
main h3 {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
    border-bottom: #f3f1f1 2px solid;
}
.error-field {
    border: #ae1414 1px solid;
}
body.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
}
.prof-pic {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.prof-pic img {
    width: 100%;
}
.prof-pic .drop-effect {
    background: rgba(0, 0, 0, 0.4);
}
.name-panel {
    display: block;
    margin-bottom: 25px;
    line-height: 0px;
    font-size: 13px;
}
.name-panel .nameplate {
    font-size: 22px;
    font-weight: bold;
    color: #414651;
    border-bottom: none;
    padding: 0;
    margin: 0
}
.name-panel p {
    margin-top: 0px;
}
.name-panel h2.nameplate:after {
    content: '';
    border: none;
}
.profile-control {
    background: #ea0b44;
    font-size: 16px;
    box-shadow: #ccc 0px 0px 5px;
    max-width: 437px;
    width: 100%;
}
.profile-control .btn {
    background: #ea0b44;
    font-size: 16px;
    color: #e79caf;
    border-right: #e79caf 1px solid;
    font-weight: bold;
    padding: 10px;
}
.profile-control .btn .fa {
    font-size: 21px;
}
.profile-control .btn:last-child {
    border-right: none;
}
.profile-control .btn:hover, .profile-control .btn:focus, .profile-control .btn.active {
    background: #ea0b44;
    color: #fff;
    outline: none;
}
.profile-control.photo-btn {
    background: none;
    box-shadow: 0 0 0 #ccc;
    max-width: inherit;
}
.table-wrapper table {
    width: 100%;
    color: #222222;
    font-size: 16px;
    margin-top: 20px;
}
.table-wrapper table tr td {
    padding: 5px 0;
}
.table-wrapper table tr td:first-child {
    font-size: 13px;
    color: #949494;
}
.gray-bg {
    background: #eeeeee;
    padding: 10px 10px 3px 10px;
    font-size: 13px;
    margin-top: 15px;
}
.gray-bg a {
    color: #414651;
}
.gray-tabs-block {
    background: #eeeeee;
}
.gray-bg .fa {
    font-size: 18px;
    margin-right: 5px;
}
.tab-content {
    background: #fff;
    padding: 30px 25px;
    margin-bottom: 10px;
    border-right: #e2e2e2 1px solid;
    border-bottom: #e2e2e2 1px solid;
    border-left: #e2e2e2 1px solid;
}
.tab-content .panel-collapse .panel-body {
    background-color: #fff;
}
footer {
    border-top: #e2e2e2 1px solid;
}
.nav-tabs li a {
    color: #222222;
    border: 0px solid transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: none;
    border: none;
    border-bottom: red 2px solid;
}
.matchtitle {
    font-size: 20px;
    color: #ea0b44;
    font-weight: bold;
    position: relative;
    top: 20px;
}
.matchtitle2 {
    color: #BF5D76;
}
.ad-block {
    display: block;
    background: #fff;
    border-radius: 5px;
    border: #dddddd 1px solid;
    position: relative;
    top: 56px;
    padding: 10px 0;
}
.ad-title {
    font-size: 18px;
    color: #ea0b44;
    font-weight: bold;
    margin-bottom: 10px;
}
.name2 {
    font-size: 18px;
    color: #414651;
    font-weight: bold;
}
.table-margin {
    margin: 10px 10px;
}
.border {
    border-bottom: #dddddd 1px solid;
    margin: 10px 0;
}
.continue-link {
    font-size: 14px;
    color: #ea0b44;
    text-decoration: none;
    font-weight: bold;
}
.continue-link:hover {
    color: #000;
    text-decoration: none;
}
.heading-icons {
    background-image: url(../images/sprite.png);
    overflow: hidden;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    top: 8px;
    margin-right: 10px;
}
.icon1 {
    width: 38px;
    height: 36px;
    background-position: 0 0px;
}
.icon2 {
    width: 38px;
    height: 41px;
    background-position: -38px 0px;
}
.icon3 {
    width: 42px;
    height: 46px;
    background-position: -86px 0px;
    top: 12px;
}
.icon4 {
    width: 38px;
    height: 36px;
    background-position: 0 0px;
}
.icon5 {
    width: 57px;
    height: 52px;
    background-position: -130px 0px;
}
.icon6 {
    width: 38px;
    height: 51px;
    background-position: -182px 0px;
}
.icon7 {
    width: 41px;
    height: 49px;
    background-position: -223px 0px;
}
.icon8 {
    width: 38px;
    height: 51px;
    background-position: -270px 0px;
}
.icon9 {
    width: 31px;
    height: 51px;
    background-position: -314px 10px;
}
.tab-content h3, .heading-xs {
    color: #222222;
    font-size: 17px;
    border: none;
}
.bs-accordian .heading-xs {
    font-weight: 400;
    font-size: 18px;
    color: #534b49;
}
.bs-accordian .panel-group .panel + .panel {
    margin-top: 15px;
}
.imgarea {
    float: left;
    display: inline-block;
    vertical-align: top;
}
.img-desc {
    width: 70%;
    display: inline-block;
    padding-left: 10px;
}
.ad-prof li {
    margin-bottom: 15px;
}
.panel {
    margin-bottom: 0px;
    box-shadow: none;
}
.chatwe .dropdown-menu {
    right: 0;
    left: auto;
}
.chat .panel-heading {
    font-size: 18px;
    color: #ea0b44;
    font-weight: bold;
    margin-bottom: 0px;
    background: #fff;
    padding-top: 18px;
}
.chat ul li {
    display: table;
    padding: 5px 10px;
    cursor: pointer;
    width: 280px;
    margin-left: -10px;
}
.chat ul li:hover {
    background: #f1f3f7;
}
.chat .img-desc {
    width: 74%;
    display: table-cell;
    vertical-align: middle;
}
.chat .img-desc .name {
    font-weight: bold;
}
.wrapper {
    position: relative;
}
.chat-window {
    bottom: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
    right: 0px;
}
.chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
}
.icon_minim {
    padding: 2px 10px;
}
.msg_container_base {
    background: #fff;
    margin: 0;
    padding: 0 10px 10px;
    overflow-x: hidden;
    display: none;
}
.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_receive {
    padding-left: 0;
    margin-left: 0;
}
.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}
.msg_sent > time {
    float: right;
}
.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}
.chat .panel-footer {
    padding: 0;
}
.chat .panel-footer input {
    padding: 10px;
    width: 100%;
}
dl {
    margin: 0;
}
dl:before, dl:after {
    clear: both;
    overflow: hidden;
    display: block;
    content: '';
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #949494;
}
.dl-horizontal dd {
    float: left;
    margin: 0 0 0 10px;
}
.dl-horizontal dt, .dl-horizontal dt {
    line-height: 25px;
    margin-bottom: 5px;
}
.dl-horizontal dd:after {
    clear: both;
    content: '';
    overflow: hidden;
    display: block;
}
.inner-block {
    padding: 0 0 10px 0;
}
.inner-block h3 {
    margin-bottom: 15px;
}
.match-list li {
    background: url(../images/matchimg.jpg) 100% 55% no-repeat;
    width: 70%;
    border-bottom: #f3f2f1 1px solid;
    padding-bottom: 10px;
    font-size: 13px;
    color: #949494;
    margin-bottom: 10px;
    border-left: 0px solid #ccc;
    margin-left: 0;
    padding-left: 0;
}
.list-inline.match-list li {
    border-left: 0px solid #ccc;
    margin-left: 0;
    padding-left: 0;
}
.list-inline.match-list > li:first-child {
    border-left: 0 solid #ccc;
    margin-left: 0;
    padding-left: 0;
}
.match-list .text-danger {
    color: #f8b3aa;
    font-size: 15px;
}
.chatwe {
    bottom: -2px;
    overflow: hidden;
    position: fixed;
    right: -3px;
    width: 250px;
    z-index: 10000;
    box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-transition: all 0 ease-in-out;
    -webkit-transition: all 0 ease-in-out;
    -o-transition: all 0 ease-in-out;
    -ms-transition: all 0 ease-in-out;
    transition: all 0 ease-in-out;
}
.chat-height {
    height: 100%;
}
.chat-move {
    background: #fff;
}
.chat-move .wrapper {
    left: -120px;
    position: relative;
}
.chatwe .imgarea {
    float: none;
    vertical-align: middle;
}
.chatwe ul li {
    display: table;
    position: relative;
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 0;
}
.chatwe .panel-body {
    padding: 0;
}
.chatwe ul li .name {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
}
.chat-move .img-desc {
    display: table-cell;
    width: 100%;
}
.chatwe ul li .time {
    position: absolute;
    right: 15px;
    top: 17px;
    background: #fff;
    color: #b3c1d1;
    font-size: 12px;
}
.chatwe ul li .online {
    position: absolute;
    right: 15px;
    top: 23px;
    background: green;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
.chatwe ul li:hover, .chatwe ul li.active {
    background: #f1f3f7;
    font-weight: bold;
}
.chatwe ul li:hover .time {
    background: #f1f3f7;
}
.chatwe .panel-primary>.panel-heading {
    background: #fff;
    font-size: 18px;
    color: #ea0b44;
    font-weight: bold;
}
.chatwe .panel-primary>.panel-heading, .chatwe .panel-primary {
    border: none;
    border-color: #fff;
    cursor: pointer;
}
.chatwe .panel-footer {
    position: fixed;
    bottom: 0;
    padding: 0;
}
.chatwe .panel-footer .btn-default {
    background: #fff;
    border: none;
}
.chatwe .panel-footer .input-sm {
    background: #fff;
    border: none;
    outline: none;
}
/* ==========================================================================MyProfile custom styles========================================================================== */
.fb-profile {
    background: #fff;
    margin-bottom: 20px;
}
.fb-profile:before, .fb-profile:after {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
}
.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}
.fb-image-profile {
    margin: -95px 20px 0px 50px;
    z-index: 9;
    width: 20%;
}
.fb-profile-text h1 {
    font-weight: 700;
    font-size: 22px;
    text-transform: inherit;
}
.fb-profile-text .sub-text {
    font-weight: 400;
    font-size: 17px;
}
.profile-edit {
    padding-top: 15px;
}
.profile-edit .major-control a {
    font-size: 14px;
    color: #414651;
}
.profile-edit .minor-control > li {
    border-left: 0 solid #ccc;
    display: inline-block;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
}
.profile-edit .minor-control a {
    font-size: 22px;
    color: #414651;
    text-decoration: none;
}
.profile-edit .badge {
    background: #ccc;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 1px;
    position: relative;
    top: -16px;
    font-size: 11px;
    left: -4px;
}
.profile-edit .minor-control a:hover, .profile-edit .minor-control a:focus {
    color: #414651;
    text-decoration: none;
}
.profile-edit .minor-control a:hover .badge, .profile-edit .minor-control a:focus .badge {
    background: #43a44c;
}
@media (max-width:768px) {
    .fb-profile-text h1 {
        font-weight: 700;
        font-size: 22px;
    }
    .fb-profile-text .sub-text {
        font-weight: 400;
        font-size: 17px;
    }
    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }
}
.panel-default>.panel-heading {
    border: none;
    background: none;
}
.panel-default>.panel-heading h3 {
    border: none;
}
.friends, .photos {
    list-style: none;
    display: inline-block;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 0;
    padding: 0;
}
.friends li, .photos li {
    float: left;
    margin: 0;
    width: 33.33%;
}
.friends li a, .photos li a {
    display: block;
    padding-left: 1px;
    padding-top: 1px;
}
.friends li a img, .photos li a img {
    width: 100%;
}
.friends li a img:hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;
    -ms-transform: scale(1.20, 1.20);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
    opacity: 0.7;
}
.tab-content.my-profile {
    padding-top: 0;
}
.no-border {
    border: none;
}
.no-padd {
    padding: 0;
}
.list-inline > li {
    border-left: 1px solid #ccc;
    display: inline-block;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 5px;
}
.list-inline > li:first-child {
    border-left: 0px solid #ccc;
    margin-left: 0px;
    padding-left: 15px;
}
.bootstrap-tagsinput .label-danger, .bootstrap-tagsinput .label-default {
    background: #ff517d;
    border-radius: 0;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px;
    font-weight: 400;
}
.bootstrap-tagsinput .label-default {
    background: #e5e5e5;
    color: #000;
}
.nav-tabs[role=tablist] {
    background: #eeeeee;
    border-top: 1px solid #fff;
}
.tab-content .major-control li:first-child a {
    color: #337ab7;
}
.my-profile.nav-tabs>li.active>a, .my-profile.nav-tabs>li.active>a:focus, .my-profile.nav-tabs>li.active>a:hover {
    background: #fff;
    border: none;
    border-top: red 2px solid;
    font-weight: bold;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.padd-tp-0 {
    padding-top: 0;
}
.cover-pic {
    display: block;
}
.pr {
    margin-bottom: 20px;
}
.pr-inner {
    display: block;
}
.pr-inner .im-pc {
    margin-left: 20px;
    margin-top: -80px;
    overflow: hidden;
    position: relative;
}
.pr-inner .im-pc img {
    width: 100%;
}
.pr-right {
    margin-top: 20px;
}
.pic-sm, .im-pc {
    float: left;
}
.pic-sm {
    margin-left: 20px;
    width: 69%;
}
.im-pc-inner {
    position: absolute;
    top: 41%;
    left: 10px;
    right: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.image-upload > input {
    display: none;
}
.image-upload img {
    width: 80px;
    cursor: pointer;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.cover-pic .dropdown {
    position: absolute;
    right: 40px;
    top: 50px;
}
.cover-pic .dropdown .dropdown-menu {
    left: -148px;
    right: auto
}
.cover-pic .dropdown .dropdown-menu li {
    border-bottom: #EFEFEF 0px solid;
}
.cover-pic .edit {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: rgba(255, 255, 255, 0.68);
    border: none;
    box-shadow: none;
    outline: none;
    height: 35px;
    width: 35px;
}
.cover-pic .edit.focus, .cover-pic .btn:focus, .cover-pic .edit:hover, .cover-pic .btn:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.3);
}
.horo-wrap {
    position: relative;
}
.horo-wrap .horo-info {
    position: absolute;
    top: 45%;
    left: 18%;
    text-align: center;
}
.bs-accordian .panel-default>.panel-heading {
    background: #f9f9fb;
    border: none;
    border-bottom: #cfcfcf 2px solid;
    border-radius: 0;
    cursor: pointer;
}
.bs-accordian .panel-default {
    border: none;
}
.bs-accordian .panel-title {
    font-size: 18px;
    color: #333333;
}
.bs-accordian .panel-title a {
    text-decoration: none;
}
.xs-col {
    width: 200px;
}
.search-profile .dropdown-menu {
    padding: 15px;
    background: #fdfcfc;
    width: 270px;
    border: #dadada 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.search-profile {
    margin-top: 2px;
    margin-right: 10px;
    font-size: 13px;
    color: #414651;
    text-decoration: none;
}
.search-profile a {
    color: #414651;
    text-decoration: none;
    cursor: pointer;
}
.search-profile .input-group-addon {
    border: none;
    background: none;
}
.search-profile .form-control {
    border-radius: 0;
    padding: 0 6px;
    height: 35px;
}
.search-profile .btn {
    background: none;
    border: none;
}
.multiselect-wrapper {
}
.multiselect {
    width: 600px;
}
.radio-wrapper {
    margin-top: 0px;
}
.radio-wrapper .radio dt, .checkbox-wrapper .checkbox dt {
    color: #949494;
    vertical-align: top;
}
.radio-wrapper .radio dd {
    width: 72%;
}
.radio-wrapper .radio label {
    margin-bottom: 10px;
}
.radio-wrapper.manglik {
    margin-bottom: 0px;
}
.radio-wrapper.manglik .radio label.mrg-bt-10 {
    margin-bottom: 10px;
}
.filter-buttons li {
    border: none;
}
.filter-buttons .btn-primary, .filter-buttons li .btn-custom {
    padding: 10px 30px;
    background: #ea0b44;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
}
.filter-buttons li .btn-custom {
    background: #888;
}
.featured-block .media {
    margin-top: 15px;
    max-width: 250px;
    display: inline-block;
    width: 100%;
}
.padd-rt-0 {
    padding-right: 0;
}
/*** Dashboard*/
.list-item li {
    padding: 3px 0;
}
.list-item li a {
    color: #222222;
}
.refe-accord .blue {
    color: #337ab7;
    font-size: 12px;
}
.refe-accord .panel-heading .fa {
    float: right;
    margin-top: 4px;
}
.refe-accord .panel-heading .badge, .list-item li .badge {
    background-color: #777;
    border-radius: 100%;
    min-width: 25px;
    min-height: 20px;
    font-weight: 300;
    font-size: 12px;
    background-color: #ee1845;
    padding: 0;
    line-height: 2;
}
.panel-collapse .panel-body {
    background-color: #f7f6f6;
    border-top: 0px solid #fff !important;
}
.refe-accord .ad-prof li:last-child, .refe-accord .ad-prof {
    margin-bottom: 0;
}
/*** Profile image component*/
.form-control.msg-b {
    border-radius: 0;
}
#sendInterest .user-list {
    margin: 5px;
}
#sendInterest .bg-white {
    margin-top: 20px;
}
#sendInterest .bg-white input[type="checkbox"] {
    display: block;
}
.profile-header-container {
    margin: 10px 0 20px;
    text-align: center;
}
.profile-header-img {
    margin: 0 auto;
    height: 155px;
    width: 155px;
    position: relative;
}
.profile-header-img > img.img-circle {
    width: 155px;
    height: 155px;
    border: 2px solid #d1cece;
}
.profile-header {
    margin-top: 43px;
}
.rank-label-container {
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: 10000;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.profile-header-img:hover .rank-label-container {
    display: block;
}
.rank-label-container .btn {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    color: #fff;
    font-size: 22px;
}
.rank-label-container .dropdown {
    margin-top: 53px;
}
.reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.refe-accord .panel-default {
    border-color: #fff;
}
.refe-accord .panel-title {
    font-size: 15px;
    font-weight: 400;
}
.refe-accord .panel-title a {
    display: block;
}
.refe-accord .panel-heading {
    padding: 5px 15px;
}
.dashboard-wrapper .bg-white {
    padding: 15px 20px;
}
.dashboard-wrapper .radial-progress {
    margin: 0 10px 0 0;
}
.dashboard-wrapper .user-line {
    font-size: 16px;
    font-weight: 700;
}
.aside {
    margin-top: 70px;
}
.user-list {
    margin-top: 15px;
}
.user-list .item {
    text-align: center;
    margin-bottom: 20px;
}
.user-list .item img {
    border: 1px solid #d3d3d3;
}
.user-list .item p {
    font-size: 13px;
}
.user-list .item .name {
    margin-top: 5px;
    display: block;
}
.user-list .item .btn {
    background: none;
    border: 1px solid #ee1845;
    font-weight: 700;
    font-size: 13px;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    margin-top: 10px;
    color: #222222;
    padding-left: 5px;
    padding-right: 5px;
}
.user-list .item .btn.btn-link {
    border: 0px solid #ee1845;
}
.user-list .item .btn .fa {
    color: #ee1845;
}
.cover-pic .edit {
    color: #fff;
    font-size: 17px;
}
.navbar-default {
    margin-bottom: 0px;
}
.matches {
    font-size: 16px;
}
.orange-text {
    color: #ea0b44;
}
.filter-small {
    font-size: 13px;
}
.filter-small li a {
    color: #414651;
}
.gray-filter {
    background: #fdfcfc;
    border: #c3c3c3 1px solid;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}
.listing {
    border-top: #ffd900 10px solid;
}
.featured-icon {
    background-image: url(../images/sprite.png);
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 43px;
    height: 37px;
    background-position: 8px -79px;
}
.featured-prof {
    font-size: 16px;
    color: #5b9ece;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: table;
}
.featured-prof .thead {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.featured-prof .thead a {
    position: relative;
    top: -3px;
    padding-left: 7px;
}
.premium {
    background-image: url(../images/sprite.png);
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: 4px;
    width: 70px;
    height: 19px;
    background-position: -41px -85px;
}
.msg-indicator-icon {
    background: url(../images/sprite.png) -113px -79px no-repeat;
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 5px 12px 10px 43px;
}
.display-table {
    display: table;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.gray-bg a.user-desc-btn {
    font-size: 16px;
    color: #5b9ece;
    text-decoration: none;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-top: 5px;
}
.gray-bg a.user-desc-btn:hover {
    text-decoration: underline;
}
.priority-index {
    z-index: 999;
    color: #fff;
}
.drop-effect.priority-index img {
    width: auto;
    height: auto;
}
.img-over {
    width: 80%;
    margin: 30% auto 0;
    text-align: center;
}
.img-over a {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2000;
}
.img-blur img {
    -webkit-filter: blur(5px);
    /* Chrome, Safari, Opera */
    filter: blur(5px);
}
.pagination {
    margin: 0;
}
.pagination>li {
    display: block;
    float: left;
}
.pagination .first {
    margin-right: 40px;
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span, .pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-radius: 0;
}
.pagination .last {
    margin-left: 40px;
}
.pagination>li>a, .pagination>li>span {
    border: #d7d8d8 1px solid;
    background: #f4f5f5;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>a:active {
    background: #e00b41;
    color: #f8f8f8;
}
.pager-icon a {
    font-size: 24px;
    color: #000;
    position: relative;
    top: 4px;
    text-decoration: none;
}
.pager-icon .badge {
    background: #43a44c;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 1px;
    position: relative;
    top: -16px;
    font-size: 11px;
    left: -4px;
}
.pager-icon a:hover .badge {
    background: #43a44c;
    text-decoration: none;
}
.layout-control {
    margin-bottom: 0;
}
.layout-control li {
    border-left: 0px solid #ccc;
    margin-left: 0px;
    padding: 15px 10px 0 0;
}
.layout-control a {
    color: #b0b1b1;
}
.layout-control a .fa {
    font-size: 24px;
}
.layout-control a:hover, .layout-control a:focus, .layout-control a:active {
    color: #ea0b44;
}
.profile-control-vertical ul li {
    display: inline-block;
    padding-left: 15px;
}
.profile-control-vertical ul li a {
    font-size: 13px;
    color: #545962;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 32px;
}
.profile-control-vertical ul li a .fa {
    color: #ea0b44;
    font-size: 16px;
    padding-left: 3px;
}
.profile-control-vertical ul li a:hover {
    color: #ea0b44;
}
.modal-lg-cust {
    max-width: 960px;
    width: 100%;
}
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}
.block-full {
    min-height: 535px;
}
/* Inbox style */
.inbox .nav-tabs .glyphicon:not(.no-margin) {
    margin-right: 10px;
}
.inbox .tab-pane .list-group-item {
    padding: 20px 12px;
    margin: 0;
    border: none;
    border-bottom: #989898 1px solid;
}
.inbox .tab-pane .list-group-item:hover {
    background: #f9f9f9;
    cursor: pointer;
}
.inbox .nav-pills>li>a {
    padding: 5px 10px;
}
.inbox .ad {
    padding: 5px;
    background: #F5F5F5;
    color: #222;
    font-size: 80%;
    border: 1px solid #E5E5E5;
}
.inbox .ad a.title {
    color: #15C;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}
.inbox .ad a.url {
    color: #093;
    text-decoration: none;
}
.inbox .nav-tabs>li.active>a, .inbox .nav-tabs>li.active>a:focus, .inbox .nav-tabs>li.active>a:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.inbox .checkbox {
    margin-bottom: 0;
}
.inbox .checkbox label {
    font-size: 14px;
}
.inbox-thread div:first-child {
    width: 40px;
}
.inbox-thread .box-inbox3 {
    width: 86%;
}
.inbox-thread .list-inline > li:first-child {
    border-left: 0px solid #ccc;
    margin-left: 0px;
    padding-left: 5px;
}
.inbox-thread .box-inbox3 .name {
    margin-bottom: 10px;
}
.inbox-thread .box-inbox3 .list-inline > li {
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 0 9px 0 2px;
    margin: 0 5px 0 2px;
    border-left: none;
}
.inbox-thread .box-inbox3 .list-inline > li:last-child {
    border: none;
}
.inbox-thread .btn-primary {
    padding: 5px 15px;
    margin-top: 10px;
}
.small-focus {
    background: #ccc;
    padding: 5px 10px;
    margin-right: 10px;
    color: #000;
}
.thread-control {
    position: absolute;
    right: 0;
}
.open-div {
    display: none;
    background: #fff;
    border-radius: 0px;
    padding: 17px 25px;
    border: #C7C5C5 1px solid;
    width: 100%;
}
/*.open-div button,.open-div select,.open-div textarea,.open-div input{
	padding: 5px;
	border: #DEDEDE 1px solid;
	font-size: 12px;
	border-radius: 4px;
	margin-right: 13px;
	margin-left: 2px;
}
*/
.open-div .list-inline li {
    border: none;
    margin-bottom: 0;
    padding: 0;
    margin: 0 0 15px 0;
    vertical-align: top;
}
.open-div .btn {
    padding: 5px 10px
}
/* Slider */
/*#slider-range {
	width: 200px;
	height: 2px;
	border: none;
	margin-top: 15px;
}
#amount {
	margin-top: 15px;
	width: 110px;
	color: #6B6262;
}*/
.input-group .input-group-addon:first-child {
    border-right: 0;
    background: #FFFFFF;
    border-color: #E1D4E2;
    padding-right: 3px;
    color: #d7bed9;
    font-size: 18px;
    border-radius: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #EF2189;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ui-slider-horizontal {
    height: 1px;
    background: #dddddd;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: -.6em;
}
.inbox-thread .box-inbox3.conv {
    width: 91%;
}
.desc-mail {
    font-size: 12px;
    margin: 10px 0;
    border-top: #BDBCBC 2px dashed;
    padding-top: 10px;
}
.sidebar {
    background: #f7f7f7 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    overflow-y: scroll;
    position: fixed;
    top: 85px;
    width: 60%;
}
.map {
    display: block;
    width: 40%;
    top: 85px;
}
.map {
    bottom: 0;
    left: auto;
    position: fixed;
    right: 0;
}
.map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity, visibility, left 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    visibility: hidden;
}
.map:before {
    content: "";
    position: absolute;
    top: 0;
    right: 93%;
    height: 100%;
    z-index: 1;
    width: span(1 of 24);
    display: block;
    opacity: 0;
    will-change: right, opacity;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, rgba(0, 0, 0, 0) 100%);
}
.map__wrapper {
    height: 100vh;
    position: relative;
    z-index: 3;
}
.map__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    width: span(1.5 of 24);
    display: block;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0.35;
    will-change: left, opacity;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, rgba(0, 0, 0, 0) 100%);
}
.is-map-page .map__wrapper:after, .is-home-page .map__wrapper:after {
    display: none;
}
.zoom-in-btn {
    background-image: url("../images/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.zoom-in-btn:before {
    background-image: url("../images/plus-hover.svg");
}
.zoom-out-btn {
    background-image: url("../images/minus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.zoom-out-btn:before {
    background-image: url("../images/minus-hover.svg");
}
.zoom-in-btn, .zoom-out-btn {
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: background-color;
}
.zoom-in-btn:before, .zoom-out-btn:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
    border-radius: 44px;
    will-change: top, left, right, bottom, opacity, visibility;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.zoom-in-btn:hover, .zoom-out-btn:hover {
    background-color: white !important;
}
.zoom-in-btn:hover:before, .zoom-out-btn:hover:before {
    left: -6px;
    top: -6px;
    right: -6px;
    bottom: -6px;
    opacity: 1;
    visibility: visible;
}
.info-window {
    padding: 20px 0;
    text-align: left;
    display: inline-block
}
.info-window__img {
    max-width: 100px !important;
    float: left;
    padding-right: 15px;
}
.info-box {
    float: left;
}
.info-window__heading {
    color: #0d0d0d;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0.3em;
    margin-top: 10px;
    position: relative;
    padding-bottom: 5px;
}
.info-window__heading:before {
    position: absolute;
    top: -11px;
    right: 100%;
    background-size: 23px 75px;
    content: "";
    width: 23px;
    height: 75px;
}
.info-window__heading span {
    line-height: 1;
}
.info-window__text, .info-window__img {
    color: #0d0d0d;
    font-size: 12px;
    font-weight: 400;
}
.info-window__text span {
    line-height: 2;
}
.info-window__btn {
    margin: 5px 0 0;
}
.btn-love {
    color: #555;
    border: 1px solid #ccc;
    padding: 4px 10px;
    margin-left: 10px;
    transition: all ease-in 0.4s;
}
.btn-love:hover {
    color: #fff;
    border: 1px solid #ea0b44;
    background: #ea0b44;
    transition: all ease-in 0.4s;
}
.btn-interest {
    background: #ea0b44;
    color: #fff;
    font-weight: 500;
    padding: 4px 15px;
    transition: all ease-in 0.4s;
}
.btn-interest:hover {
    background: #ff517d;
    color: #fff;
    transition: all ease-in 0.4s;
}
.info-back {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 200px;
    border: 1px solid #ccc;
    position: relative;
}
.info-back:after {
    content: "";
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-left: 12px solid transparent;
    right: 0;
    left: 0;
    width: 20px;
    position: absolute;
    bottom: -11px;
    z-index: 99;
    margin: 0 auto;
}
.info-back img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    float: none;
    padding: 0;
    max-width: 100% !important;
}
.pin-wrap {
    position: absolute;
    width: 28px;
    height: 44px;
    margin-top: -44px;
    margin-left: -14px;
    transform-origin: 50% 120.7106781187% 0;
}
.pin-wrap .pulse {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    transform: rotateX(55deg);
    will-change: transform;
}
.pin-wrap:hover .pulse:before, .pin-wrap:hover .pulse:after {
    content: '';
    animation: pulsate 1s ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    opacity: 0;
    border-radius: 50%;
    border: 1px dashed #453a03;
    will-change: transform, opacity;
}
.pin-wrap:hover .pulse:before {
    display: block;
    width: 50px;
    height: 50px;
}
.pin-wrap:hover .pulse:after {
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: 70px;
    height: 70px;
}
.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    /*width: 28px;
    height: 44px;*/
    margin-top: -14px;
    margin-left: -14px;
    transform-origin: 50% 120.7106781187% 0;
    /*background-image: url("../images/pin_01.svg");*/
    background-size: cover;
}
.pin img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 3px solid #ea0b44;
    position: relative;
}
.pin:after {
    content: "";
    border-right: 6px solid transparent;
    border-top: 6px solid #ea0b44;
    border-left: 6px solid transparent;
    right: 0;
    left: 0;
    width: 3px;
    position: absolute;
    bottom: -6px;
    z-index: 99;
    margin: 0 auto;
}
/*.pin:before {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	content: '';
	top: 0;
	left: 0;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.pin:after {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 20px;
	height: 19px;
	content: '';
	top: 5px;
	left: 4px;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}*/
.pin:hover:before {
    opacity: 1;
    visibility: visible;
}
.shadow {
    position: absolute;
}
.shadow:after {
    position: absolute;
    left: -114px;
    display: block;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    content: '';
    transform: rotateX(55deg);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px;
}
@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
.selectator_element.multiple {
    width: 100% !important;
}



/* SEARCH PAGE 28FEB 
-----------------------------*/

header.search-header .over-header {
    position: fixed;
}
header.search-header.smaller .header-inner {
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    padding-top: 0;
}
.search-bar {
    background: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.filter-row {
    padding-top: 5rem !important;
}
.black {
    color: #444;
}
.mt-2 {
    margin-top: 10px;
    display: inline-block;
}
.search-bar .input-group-addon button {
    background: #ed1a22;
    color: #fff;
    border: 0;
    padding: 9px;
}
.tags-default .bootstrap-tagsinput {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    line-height: 24px;
}
.tags-default .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #fdd703;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
}
.map-view a {
    background: #e1e1e1;
    color: #000;
    padding: 6px 12px;
    float: right;
    line-height: 17px;
}
.map-view a.active {
    background: #ed1a22;
    color: #fff;
}
.map-view {
    float: right;
    border-radius: 5px;
    overflow: hidden;
}
.filter-tabs-block {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    width: 25%;
}
.normal-filter {
    display: inline-block;
    height: calc(100vh - 250px);
    overflow-y: auto;
}
.advanced-filter {
    margin: 5px 0 0 !important;
    top: 100%;
}
.advanced-filter .panel-body {
    display: inline-block;
    height: calc(100vh - 250px);
    overflow-y: auto;
}
.advanced-filter.show {
    position: absolute;
    top: 70px;
    z-index: 99;
    left: 0;
    right: 0;
}
.advanced-filter .panel-collapse {
    display: block !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    background: #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #fff;
    background:#999;
}



@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }
    scrollbarbutton {
        display: none !important;
    }
    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}
.filter-tabs-block ul.nav.nav-tabs {
    background: #fff;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-tabs-block ul.nav li {
    flex: 0 0 50%;
    text-align: center;
    font-size: 14px;
    margin-bottom: -1px !important;
}
.filter-tabs-block .nav-tabs>li>a {
    margin-right: 0px;
    border-radius: 0;
    border: 1px solid #ddd !important;
}
.filter-tabs-block .bs-accordian .panel-default>.panel-heading {
    background: #ff517d;
    color: #fff;
    border: 0;
}
.filter-tabs-block .bs-accordian .panel-default>.panel-heading .panel-title {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
.filter-tabs-block .tab-content {
    border: 0;
    padding: 0;
}
.filter-tabs-block .checkbox, .filter-tabs-block .radio {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 5px 0;
    float: left;
}
.filter-tabs-block .checkbox label, .filter-tabs-block .radio-wrapper .radio label {
    margin-bottom: 0;
    color: #8b8b8b;
    font-size: 14px;
}
.filter-tabs-block .checkbox label:before {
    border-radius: 0px;
    top: 0px;
}
.filter-tabs-block .radio label:before {
    top: -1px;
}
.filter01 {
    margin: 0 0 10px;
    float: left;
    width: 100%;
}
.column-3 div {
    width: 33.33% !important;
    display: inline-block;
    float: left;
}
.column-2 div {
    width: 50% !important;
    display: inline-block;
    float: left;
}
.filter01 .multiselect-wrapper, .filter01 .form-cont div.cs-skin-border {
    border: 0;
    box-shadow: none;
    background: #f5f5f5;
    max-width: 100%;
    margin: 0;
    /*height: 40px;*/
    padding: 5px;
    font-size: 14px;
}
.filter01 .selectator_element.multiple, .filter01 .cs-select span {
    padding-right: 20px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0 !important;
}
.filter01 .selectator_chosen_item {
    display: inline-block;
    background-color: #ff517d;
    color: #fff;
}
.filter01 .selectator_chosen_item_remove {
    color: #fff;
    line-height: 12px;
}
.filter01 .selectator_element:after {
    color: #000;
    top: 5%;
}
label.filter-label {
    font-weight: 500;
}
select.multiple {
    width: 250px;
    padding: 10px;
    height: 100px;
    border: 1px solid #ddd;
    border-top: 0;
}
select.multiple option {
    padding: 2px 0px;
}
.multiple-label {
    background: #f5f5f5;
    padding: 5px 10px;
    width: 250px;
    border: 1px solid #ddd;
}
.multiple-label .fa {
    float: right;
}
.slidecontainer {
    width: 85%;
}
.slidecontainer .ui-slider {
    width: 100%;
    height: 3px;
    border: none;
    margin: 15px 0;
    background: #ea0b44;
}
.slidecontainer div#slider-range-height, .slidecontainer div#slider-range-height .ui-slider-range {
    background: #fdd703;
}
.slidecontainer div#slider-range-height .ui-slider-handle {
    border: 3px solid #fdd703;
}
.slidecontainer .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    -webkit-appearance: none;
    width: 100%;
    background: #ea0b44;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    top: 0;
    height: 100%;
}
.slidecontainer .ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -.6em;
    background: #fff;
    border: 3px solid #ea0b44;
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 50%;
}
.slidecontainer input {
    margin: 1px 0 15px;
    width: 50px;
    color: #6B6262;
    text-align: center;
    padding: 5px;
    height: 25px;
}
.slidecontainer input + input {
    float: right;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

.l1 {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}
.pro-pic {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.u-name {
    font-size: 24px;
    font-weight: bold;
    color: #337ac4;
    margin: 0 0 15px;
}
.u-name span {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    color: #999;
}
.u-name i {
    color: #000;
    font-size: 28px;
    vertical-align: middle;
    margin-left: 10px;
}
.u-name span.verfied i {
    color: green;
    font-size: 17px;
    vertical-align: top;
    margin: -7px 0 0 0;
}
.d1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px 0;
}
.d-type {
    color: #999;
    width: 200px;
}
.action-block {
    margin: 15px 0 0;
}
.action-block a {
    color: #555;
    font-size: 16px;
    margin-right: 30px;
}
.action-block a:hover {
    text-decoration: none;
}
.action-block .fa {
    color: #ed1a22;
}


.btn-call {
    border: 2px solid #949494;
    padding: 20px;
    border-radius: 0;
    display: block;
    color: #191717;
    font-size: 18px;
    margin: 0 0 10px;
}
.call {
    font-size: 20px;
}
.call label {
    font-weight: normal;
    width: 115px;
}
.pink {
    color: #ea0b44;
}
.sms textarea {
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    height: 115px;
    width: 100%;
    resize: none;
}
.desable-text {
    border: 1px solid #ccc;
    border-top: 0;
    padding: 5px 10px;
}
.disabled.desable-text, .sms textarea[disabled] {
    background: #f3f3f3;
}