div.cs-skin-border{font-size:16px;width:170px;}
@media screen and (max-width:30em){div.cs-skin-border{font-size:1em;}
}
.cs-skin-border > span{-webkit-transition:background 0.2s, border-color 0.2s;transition:background 0.2s, border-color 0.2s;}
.cs-skin-border ul span::after{content:'';opacity:0;}
.cs-skin-border.cs-active > span{background:#fff;border-color:#fff;}
.cs-skin-border .cs-options{font-size:0.75em;opacity:0;-webkit-transition:opacity 0.2s, visibility 0s 0.2s;transition:opacity 0.2s, visibility 0s 0.2s;}
.cs-skin-border.cs-active .cs-options{opacity:1;-webkit-transition:opacity 0.2s;transition:opacity 0.2s;}
.cs-skin-border ul span{padding:7px 17px;-webkit-backface-visibility:hidden;backface-visibility:hidden;font-size:16px;}
.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span{background:#f5f3ec;}