.text-success{color:#11d814;}
.text-error{color:#f50505;}
img.selected{border:1px solid #ea0b44;}
.photo-main{min-height:200px;}
.profile-edit .minor-control a.active .badge{background:#43a44c;}
#timelineBackground{max-height:240px !important;}
.cover-pic{max-height:240px !important;position:relative;overflow:hidden;background-color:#ffffff}
.bgImagecover{width:100%;}
.headerimage{cursor:s-resize;position:relative;overflow:hidden;background-color:#ffffff;width:100% !important;}
.wallbutton:hover{text-decoration:none;}
.blackButton{background-color:#666666;border-color:#333333;}
.bgSave, .bgSaveRP, .bgSaveFP{clear:both;float:right;position:absolute;z-index:4000;right:10px;top:10px;}
.bgCancel{clear:both;float:right;position:absolute;z-index:4000;right:10px;top:50px;}
.wallbutton{font-weight:bold;padding:7px 9px;background-color:#ff517d;color:#fff !important;font-size:12px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;cursor:pointer;text-decoration:none;border-style:solid;border-color:#fff;white-space:nowrap;display:-moz-inline-stack;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.radio_step4{width:100%;}
.radio_step4 label{margin-bottom:10px;}
.tag_delete1{cursor:pointer;}
.send_email{cursor:pointer !important;}
.kp_loader_section{bottom:35px;right:0;min-width:20%;border-bottom-right-radius:0;border-bottom-left-radius:20px;border-top-right-radius:20px;border-top-left-radius:0;background:rgb(255, 187, 0);z-index:1000;position:fixed;color:#fff;padding:10px;text-align:center;}
.kp_notify{z-index:9999;position:fixed;top:0;right:0;left:0;padding:10px;color:#fff;display:none;}
.kp_notification{width:90%;text-align:center;}
.kp_notification_close{z-index:1001;position:fixed;top:0;right:0;padding:10px;cursor:pointer;}
.kp_notify.red{background:#ff0000;}
.kp_notify.yellow{background:rgb(255, 187, 0);}
.kp_notify.green{background:rgb(46, 204, 113);}
.notice{position:relative;margin:1em;background:#F9F9F9;padding:1em 1em 1em 2em;border-left:4px solid #DDD;box-shadow:0 1px 1px rgba(0, 0, 0, 0.125);}
.notice:before{position:absolute;top:50%;margin-top:-17px;left:-17px;background-color:#DDD;color:#FFF;width:30px;height:30px;border-radius:100%;text-align:center;line-height:30px;font-weight:bold;font-family:Georgia;text-shadow:1px 1px rgba(0, 0, 0, 0.5);}
.kp_info{border-color:#0074D9;}
.kp_info:before{content:"i";background-color:#0074D9;}
.kp_success{border-color:#2ECC40;}
.kp_success:before{content:"√";background-color:#2ECC40;}
.kp_warning{border-color:#FFDC00;}
.kp_warning:before{content:"!";background-color:#FFDC00;}
.kp_error{border-color:#FF4136;}
.kp_error:before{content:"X";background-color:#FF4136;}
.pink{color:#ff517d;}
.tab-content{min-height:250px;}
.user_tag_delete{cursor:pointer;}
.nice-select{padding-left:0px;padding-right:0px;}
.pager-icon .badge1{background:gray;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background:#e00b41;border-color:#e00b41;}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{background-color:#ee1845;border-color:#ee1845;}
.resetid{font-size:18px;}
.resetsucess{font-size:16px;}
.resethelp{font-size:14px;}
.has-error .form-control{border-color:#cf0d0d !important;}
.has-success .form-control{border-color:#19b01c !important;}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label{border-color:#cf0d0d !important;}
.adbtn{width:80% !important;}
#login-form .has-error .form-control{border:1px solid #c4c4c4 !important;}
#login-form .has-success .form-control{border:1px solid #c4c4c4 !important;}
.profilecropmodal{overflow-x:inherit !important;overflow-y:inherit !important;position:absolute !important;}
.kp_warningv{border-color:#FFDC00;}
.kp_warningv:before{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;content:"\f110";font-family:FontAwesome;font-size:20px;background-color:#FFDC00;}
.kp_crop_close{z-index:11000;position:fixed;top:0;right:0;padding:10px;cursor:pointer;background-color:#ea0b44;color:#fff;}
.timeout{padding:19px 29px;background:#ea0b44;border-radius:2px;box-shadow:none;border:none;outline:none;font-size:16px;text-transform:uppercase;font-family:'Open Sans', sans-serif;font-weight:700;color:#fff;line-height:1.428571;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;}
.btn-primary{width:100%;}
.photo-kp-crop1{position:fixed !important;}
.phonetime, .emailtime{display:none;}
.tempclass{min-height:235px;}
.middlebox{height:235px;}
.my-profile-sc-button{padding:5px;font-size:14px;margin-right:10px;}
.nav-tabs[role=tablist]{}
.kp_ur{background-color:#f9f9f9;}
.send-mail-btn{width:100% !important;}
.browse-photo{display:none;margin-top:53px;width:0;position:absolute;}
.fileupload{width:0px;}
.ui-datepicker{z-index:1200 !important;}
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:#ee1845 !important;color:#fff !important;border-radius:0% !important;-moz-border-radius:0% !important;-webkit-border-radius:0% !important;}*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:#ee1845 ;color:#fff ;border-radius:0% ;-moz-border-radius:0% ;-webkit-border-radius:0% ;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #ee1845 !important;background:#ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x !important;font-weight:normal !important;color:#ee1845 !important;}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{background-color:#ee1845;border-color:#ee1845;}
.loginerror{top:0;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{background-color:#ff517d;font-weight:bold;}
.nav > li > a{color:#000;padding:10px 14px;font-weight:bold;}
.has-error .selectize-input{border-color:#cf0d0d !important;}
textarea{resize:none;}
.mrg-tb-lr{margin:5px 0;}
.maxwd100{max-width:100% !important;}
.dl-horizontal dt{white-space:normal !important;}
.form-horizontal .control-label{text-align:left;}
.ofy{overflow-y:auto !important;}
.signup-modal{overflow-x:hidden;overflow-y:auto;}
.txt-justify{text-align:justify;}
.ad-title h3{color:#ea0b44;}


.tab-content-custom {
    min-height: 0 !important;
    border-right: #e2e2e2 0px solid !important;
    border-bottom: #fff 1px solid !important;
    border-left: #e2e2e2 0px solid !important;
    border-top: #ff517d 1px solid !important;
}

.nav-custom{padding-left: 25% !important; font-size: 16px !important;}
.nav-pills-custom > li{ width: 49%; float: left;}
.tab-content-custom_1{     width: 98%;border-right: #e2e2e2 0px solid !important; border-bottom: #ff517d 1px solid !important;border-left: #e2e2e2 0px solid !important; border-top: #ff517d 1px solid !important;  border-top: #ff517d 1px solid !important;}
.tab-content-custom > p > a {
    color:#000 !important;
}

.text-black{
    color: #000 !important;
}

.class_b {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

/******************* Signup - Package Section *****************/

.section-package {
    display: flex;
    flex-flow: row wrap;
}

.section-package > div {
    flex: 1;
    padding: 0.5rem;
}

input[name="package_type"] {
    display: none;
}
input[name="package_type"]:not(:disabled) ~ label {
    cursor: pointer;
}
input[name="package_type"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}

label.package_type {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid #ea0b44;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
}

input[name="package_type"]:checked + label {
    background: #fff;
    color: #ea0b44;
    box-shadow: #fd0b4e;
    /*box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);*/
}
input[name="package_type"]:checked + label::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #ea0b44;
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

input[name="package_type"]#control_05:checked + label {
    background: red;
    border-color: red;
}

.package-price {
    font-weight: 900;
}

@media only screen and (max-width: 700px) {
    .section-package {
        flex-direction: column;
    }
}

/******************* Pricing Table *****************/
/*

.pricingTable11{text-align:center;background:#fff;margin:0 -15px;box-shadow:0 0 10px #ababab;padding-bottom:40px;border-radius:10px;color:#cad0de;transform:scale(1);transition:all .5s ease 0s}
.pricingTable11:hover{transform:scale(1.05);z-index:1}
.pricingTable11 .pricingTable-header{padding:40px 0;background:#f5f6f9;border-radius:10px 10px 50% 50%;transition:all .5s ease 0s}
.pricingTable11:hover .pricingTable-header{background:#ff9624}
.pricingTable11 .pricingTable-header i{font-size:50px;color:#858c9a;margin-bottom:10px;transition:all .5s ease 0s}
.pricingTable11 .price-value{font-size:35px;color:#ff9624;transition:all .5s ease 0s}
.pricingTable11 .month{display:block;font-size:14px;color:#cad0de}
.pricingTable11:hover .month,.pricingTable11:hover .price-value,.pricingTable11:hover .pricingTable-header i{color:#fff}
.pricingTable11 .heading{font-size:24px;color:#ff9624;margin-bottom:20px;text-transform:uppercase}
.pricingTable11 .pricing-content ul{list-style:none;padding:0;margin-bottom:30px}
.pricingTable11 .pricing-content ul li{line-height:30px;color:#a7a8aa}
.pricingTable11 .pricingTable-signup a{display:inline-block;font-size:15px;color:#fff;padding:10px 35px;border-radius:20px;background:#ffa442;text-transform:uppercase;transition:all .3s ease 0s}
.pricingTable11 .pricingTable-signup a:hover{box-shadow:0 0 10px #ffa442}
.pricingTable11.blue .heading,.pricingTable11.blue .price-value{color:#4b64ff}
.pricingTable11.blue .pricingTable-signup a,.pricingTable11.blue:hover .pricingTable-header{background:#4b64ff}
.pricingTable11.blue .pricingTable-signup a:hover{box-shadow:0 0 10px #4b64ff}
.pricingTable11.red .heading,.pricingTable11.red .price-value{color:#ff4b4b}
.pricingTable11.red .pricingTable-signup a,.pricingTable11.red:hover .pricingTable-header{background:#ff4b4b}
.pricingTable.red .pricingTable-signup a:hover{box-shadow:0 0 10px #ff4b4b}
.pricingTable11.green .heading,.pricingTable11.green .price-value{color:#40c952}
.pricingTable11.green .pricingTable-signup a,.pricingTable11.green:hover .pricingTable-header{background:#40c952}
.pricingTable11.green .pricingTable-signup a:hover{box-shadow:0 0 10px #40c952}
.pricingTable11.blue:hover .price-value,.pricingTable11.green:hover .price-value,.pricingTable11.red:hover .price-value{color:#fff}

*/

/*
.pricingTable11.active{transform:scale(1.05);z-index:1;}
.pricingTable11.active .month,.pricingTable11.active .price-value,.pricingTable11.active .pricingTable-header i{color:#fff}
.pricingTable11.red.active .pricingTable-signup a,.pricingTable11.red.active .pricingTable-header{background:#ff4b4b}
.pricingTable11.blue.active .pricingTable-signup a,.pricingTable11.blue.active .pricingTable-header{background:#4b64ff}
.pricingTable11.green.active .pricingTable-signup a,.pricingTable11.green.active .pricingTable-header{background:#40c952}
*/

/*@media screen and (max-width:990px){.pricingTable11{margin:0 0 20px}  }*/

.alert-kp{
    color: #ffffff;
    background-color: #ea0b44;
    border-color: #ff4b4b;
}

/* Contact Detail Pop up*/
.pnm-header > h2:after{
    width: 180px;

}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.btn-call {
    border: 2px solid #949494;
    padding: 20px;
    border-radius: 0;
    display: block;
    color: #191717;
    font-size: 18px;
    margin: 0 0 10px;
}
.modal-body small {
    font-size: 12px;
    font-weight: normal;
    color: #585757;
    margin: 10px 0;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.contact-display-okbtn{
    width: auto;
}

.bg-secondary{
    background: #ed3237 !important;
    color:#fff !important;
}

#login-otp-form .error-summary{background:inherit;padding-left:0px;}
#login-otp-form .error-summary ul{padding-left:0px;}
#login-otp-form .error-summary li{background:url(../images/error.png) 0 0 no-repeat;color:#ae1414;width:100%;font-size:13px;font-weight:600;padding:0px 10px 3px 25px;display:inline-block;margin-bottom:3px;text-align:left;}


#login-otp-form .form-control[readonly] {
    background-color: inherit !important;
}