.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.m-0 {
    margin: 0 !important;
}
.p-0 {
    padding: 0 !important;
}


/******************* Pricing Table *****************/

.pricingTable11{text-align:center;background:#fff;margin:0 -15px;margin-bottom: 30px;box-shadow:0 0 10px #ababab;padding-bottom:40px;border-radius:10px;color:#cad0de;transform:scale(1);transition:all .5s ease 0s}
.pricingTable11:hover{transform:scale(1.05);z-index:1}
.first-package-column:hover{
    transform: none;
}
.first-column .pricingTable-header {
    opacity: 0;
}

.first-column .pricingTable-signup {
    opacity: 0;
    padding: 1px 0;
}
.pricingTable11 .pricingTable-header{padding:40px 0;background:#f5f6f9;border-radius:10px 10px 50% 50%;transition:all .5s ease 0s}
.pricingTable11:hover .pricingTable-header{background:#ff9624}
.pricingTable11 .pricingTable-header i{font-size:50px;color:#858c9a;margin-bottom:10px;transition:all .5s ease 0s}
.pricingTable11 .price-value{font-size:35px;color:#ff9624;transition:all .5s ease 0s}
.pricingTable11 .month{display:block;font-size:14px;color:#cad0de}
.pricingTable11:hover .month,.pricingTable11:hover .price-value,.pricingTable11:hover .pricingTable-header i{color:#fff}
.pricingTable11 .heading{font-size:20px;color:#ff9624;margin-top: 10px;margin-bottom:0px;text-transform:uppercase}
.pricingTable11 .pricing-content ul{list-style:none;padding:0;margin-bottom:15px}
.pricingTable11 .pricing-content ul li{color:#a2a2a4;padding: 10px 0; border-bottom: 1px solid #eee;font-weight: 600;}
.pricingTable11.first-column .pricing-content ul li {
    color: #020211;
    font-weight: bold;
    border-bottom: 1px solid #fedc73;
}
.pricingTable11 .pricingTable-signup a{display:inline-block;font-size:14px;color:#fff;padding:12px 35px;border-radius:50px;background:#ffa442;font-weight: 600;text-transform:uppercase;transition:all .3s ease-in;}
.pricingTable11 .pricingTable-signup a:hover{box-shadow: 1px 4px 15px #ccc; text-decoration: none;transition:all .3s ease-in;}
.pricingTable11.blue .heading,.pricingTable11.blue .price-value{color:#4b64ff}
.pricingTable11.blue .pricingTable-signup a,.pricingTable11.blue:hover .pricingTable-header{background:#4b64ff}
/*.pricingTable11.blue .pricingTable-signup a:hover{box-shadow:0 0 10px #4b64ff}*/
.pricingTable11.red .heading,.pricingTable11.red .price-value{color:#ff4b4b}
.pricingTable11.red .pricingTable-signup a,.pricingTable11.red:hover .pricingTable-header{background:#ff4b4b}
/*.pricingTable.red .pricingTable-signup a:hover{box-shadow:0 0 10px #ff4b4b}*/
.pricingTable11.green .heading,.pricingTable11.green .price-value{color:#40c952}
.pricingTable11.green .pricingTable-signup a,.pricingTable11.green:hover .pricingTable-header{background:#40c952}
/*.pricingTable11.green .pricingTable-signup a:hover{box-shadow:0 0 10px #40c952}*/
.pricingTable11.blue:hover .price-value,.pricingTable11.green:hover .price-value,.pricingTable11.red:hover .price-value{color:#fff}


.pricingTable11.active{transform:scale(1.05);z-index:1;}
.pricingTable11.active .month,.pricingTable11.active .price-value,.pricingTable11.active .pricingTable-header i{color:#fff}
.pricingTable11.red.active .pricingTable-signup a,.pricingTable11.red.active .pricingTable-header{background:#ff4b4b}
.pricingTable11.blue.active .pricingTable-signup a,.pricingTable11.blue.active .pricingTable-header{background:#4b64ff}
.pricingTable11.green.active .pricingTable-signup a,.pricingTable11.green.active .pricingTable-header{background:#40c952}



.alert-kp{
    color: #ffffff;
    background-color: #ea0b44;
    border-color: #ff4b4b;
}
.pricingTable11 .pricingTable-header i{
    font-size: 25px;
}
.pricingTable11 .price-value{
    font-size: 25px;
}
.pricingTable11 .pricingTable-header{
    padding: 15px 0;
}

.pricingTable11.first-column {
    background: #ffbf09;
    box-shadow: none;
    margin: 0;
}
.pricingTable11.first-column .heading {
    color: #ea0b44;
    border-bottom: #ea0b44 2px solid;
}
.price-description{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}


.subscription-yes{
    color:#40c952
}
.subscription-no{
    color:#ff4b4b
}

@media only screen and (max-width: 992px) { 
    .pricing-content ul li:before {
        content: attr(data-title);
        display: block;
        font-weight: bold;
        color: #000;
        margin: 0 0 5px;
    }
    /*.pt-width{
        width: unset;
    }
    .pv-width{
        width: unset;
    }*/
}

@media only screen and (max-width: 600px) {
    .pricingTable11>.pricingTable-header>.price-value{color:#fff;}
    .pricingTable11>.pricingTable-header i{color:#fff;}
    .pricingTable11> .pricingTable-signup a,.pricingTable11> .pricingTable-header{background:#ff9624}
    .pricingTable11.red .pricingTable-signup a,.pricingTable11.red .pricingTable-header{background:#ff4b4b;}
    .pricingTable11.blue .pricingTable-signup a,.pricingTable11.blue .pricingTable-header{background:#4b64ff;}
    .pricingTable11.green .pricingTable-signup a,.pricingTable11.green .pricingTable-header{background:#40c952;}

}